.navbar {
    padding: 8px 16px 8px 16px;
    background-color: #343a40
}

.form-group {
    margin-bottom: 1rem;
}

.login-container {
    padding-top: 50px;
    display: flex;
    justify-content: center;

}

.login-container.login-form {
    width: 50%;
}

.selectBox {
    padding-left: 7px;
    appearance: auto;
}

.react-datepicker__input-container input {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.thead-light {
    background-color: #EBEFF3;
    border-bottom: 5px solid EBEFF3;
}